<script>
        function toggle(pid) {
            objid = "pubabs_" + pid.toString();
            linkid = "pubabslink_" + pid.toString();
            absobj = document.getElementById(objid);
            linkobj = document.getElementById(linkid);
            if (absobj.style.display === "none") {
                absobj.style.display = "inline";
                linkobj.style.display = "none";
            }
            else {
                absobj.style.display = "none";
                linkobj.style.display = "inline";
            }
        }
</script>

{{ define "main" -}}
{{ .Content }}
    {{ range .Site.Data.research }}
    {{ with .journal }}
    <h3>Journal Articles</h3>
    {{ range . }}
    <p>
        <h4 style="margin:20px 0 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title }}{{ with .pdflink }}</a>{{ end }}</h4>
        {{ with .coauthors }}<p style="margin:0 0 5px;">(with {{ . }})</p>{{ end }}

        <em> {{ .book }}, {{ .date }} </em>

        {{ with .note }}<p style="margin:0 0 5px;">{{ . }}</p>{{ end }}

        {{ $pid := .pid }}
        {{ with .abstract }}<p style="margin:0 0 5px;"><a href="javascript:toggle({{ $pid }})">Abstract<span id="pubabslink_{{ $pid }}"> (click to expand)</span></a><span id="pubabs_{{ $pid }}" style="display:none;">: {{ . }}</span></p>{{ end }}

        {{ with .links }}
        {{ range . }}
        <p style="margin:0 0 5px;"><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
        {{ end }}
        {{ end }}

    </p>
    {{ end }}
    {{ end }}
    {{ end }}
{{- end }}