{{ define "main" -}}
{{ .Content }}
    <script>
        function toggle(index) {
            objid = "pubabs_" + index.toString();
            linkid = "pubabslink_" + index.toString();
            absobj = document.getElementById(objid);
            linkobj = document.getElementById(linkid);
            if (absobj.style.display === "none") {
                absobj.style.display = "inline";
                linkobj.style.display = "none";
            }
            else {
                absobj.style.display = "none";
                linkobj.style.display = "inline";
            }
        }
    </script>

    {{ range .Site.Data.research }}
    {{ $.Scratch.Set "count" 0 }}

    <h2 id="WorksInProgress">Works in Progress</h2>
    {{ with .worksinprogress }}
    {{range . }}
    {{ $.Scratch.Add "count" 1 }}
    {{$index:= $.Scratch.Get "count" }}
    
    <p>
        <h4 style="margin:20px 0px 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title }}{{ with .pdflink }}</a>{{ end }}</h4>
        
        {{ with .coauthors }}<p style="margin:5px 0px 5px 0px;">(with {{ . }})</p>{{ end }}

        <em> {{ .book }}, {{ .year }} </em>

        {{ with .note }}<p style="margin:5px 0px 5px 0px;">{{ . }}</p>{{ end }}

        {{ with .abstract }}<p style="margin:5px 0px 5px 0px;"><a href="javascript:toggle({{ $index }})">Abstract<span id="pubabslink_{{ $index }}"> (click to expand)</span></a><span id="pubabs_{{ $index }}" style="display:none;">: {{ . }}</span></p>{{ end }}

        {{ with .links }}
        {{ range . }}
        <p style="margin:5px 0px 5px 0px;"><a href="{{ .url }}" target="blank">• {{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
        {{ end }}
        {{ end }}

        {{ with .presscoverage }}
        <p style="margin:5px 0px 5px 0px;"> Press coverage:
        {{ range $i, $e := . }}{{ if $i }},  {{ end }}<a href="{{ .url }}" target="blank">{{ $e.text }}</a>
        {{ end }}
        {{ end }}
    </p>

    {{ end }}
    {{ end }}
    <br>

    <h2 id="WorkingPapers">Working Papers</h2>

    {{ with .workingpapers }}
    {{range . }}
    {{ $.Scratch.Add "count" 1 }}
    {{$index:= $.Scratch.Get "count" }}

    <p>
        <h4 style="margin:20px 0px 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title }}{{ with .pdflink }}</a>{{ end }}</h4>
        
        {{ with .coauthors }}<p style="margin:5px 0px 5px 0px;">(with {{ . }})</p>{{ end }}

        <em> {{ .book }}, {{ .year }} </em>

        {{ with .note }}<p style="margin:5px 0px 5px 0px;">{{ . }}</p>{{ end }}

        {{ with .abstract }}<p style="margin:5px 0px 5px 0px;"><a href="javascript:toggle({{ $index }})">Abstract<span id="pubabslink_{{ $index }}"> (click to expand)</span></a><span id="pubabs_{{ $index }}" style="display:none;">: {{ . }}</span></p>{{ end }}

        {{ with .links }}
        {{ range . }}
        <p style="margin:5px 0px 5px 0px;"><a href="{{ .url }}" target="blank">• {{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
        {{ end }}
        {{ end }}

        {{ with .presscoverage }}
        <p style="margin:5px 0px 5px 0px;"> Press coverage:
        {{ range $i, $e := . }}{{ if $i }},  {{ end }}<a href="{{ .url }}" target="blank">{{ $e.text }}</a>
        {{ end }}
        {{ end }}
    </p>

    {{ end }}
    {{ end }}
    <br>

    <h2 id="Publications">Publications</h2>
    <div style="margin-top:-25px;"></div>
    {{ with .publications }}
    {{range . }}
    {{ $.Scratch.Add "count" 1 }} 
    {{$index:= $.Scratch.Get "count" }}

    {{ if ne .year ($.Scratch.Get "curyear") }}<br><h3>{{ .year }}</h3>{{ $.Scratch.Set "curyear" .year}}{{ end }}

    <p>
        <h4 style="margin:20px 0px 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title }}{{ with .pdflink }}</a>{{ end }}</h4>
        
        {{ with .coauthors }}<p style="margin:5px 0px 5px 0px;">(with {{ . }})</p>{{ end }}

        <em> {{ .book }}, {{ .year }} </em>

        {{ with .note }}<p style="margin:5px 0px 5px 0px;">{{ . }}</p>{{ end }}

        {{ with .abstract }}<p style="margin:5px 0px 5px 0px;"><a href="javascript:toggle({{ $index }})">Abstract<span id="pubabslink_{{ $index }}"> (click to expand)</span></a><span id="pubabs_{{ $index }}" style="display:none;">: {{ . }}</span></p>{{ end }}

        {{ with .links }}
        {{ range . }}
        <p style="margin:5px 0px 5px 0px;"><a href="{{ .url }}" target="blank">• {{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
        {{ end }}
        {{ end }}

        {{ with .presscoverage }}
        <p style="margin:5px 0px 5px 0px;"> Press coverage:
        {{ range $i, $e := . }}{{ if $i }},  {{ end }}<a href="{{ .url }}" target="blank">{{ $e.text }}</a>
        {{ end }}
        {{ end }}
    </p>

    {{ end }}
    {{ end }}
    <br>

    

    {{ end }}
{{- end }}