{{ define "main" -}}
{{ .Content }}
    {{ range .Site.Data.research }}
    {{ with .journal }}
    <h2>Journal Articles</h2>
    {{ range . }}
    <p>
        <h3 style="margin:20px 0 5px;">{{ with .pdflink }}<a href="{{ . }}" target="blank">{{ end }}{{ .title }}{{ with .pdflink }}</a>{{ end }}</h3>
        {{ with .coauthors }}<p style="margin:0 0 5px;">(with {{ . }})</p>{{ end }}

        <em> {{ .book }}, {{ .date }} </em>

        {{ with .remarks }}


        {{ with .links }}
        {{ range . }}
        <p style="margin:0 0 5px;"><a href="{{ .url }}" target="blank">{{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}</li>
        {{ end }}
        {{ end }}


        - <strong>{{ with .link }}<a href="{{ . }}" target="blank">{{ end }}{{ .text }}{{ with .link }}</a>{{ end }}</strong>
        {{ end }}


    </p>
    {{ end }}
    {{ end }}
    {{ end }}
{{- end }}